$white: #ffffff;
$light-grey: #cacaca;
$dim-grey: #929292;
$accadia: #5c5c5c;
$anthracite: #2f3233;
$anthracite-dark: #1d1d1d;
$nero-grey: #161616;
$nero-grey-o-25: rgba(22, 22, 22, 0.25);
$nero-grey-o-5: rgba(22, 22, 22, 0.5);
$nero-grey-o-75: rgba(22, 22, 22, 0.75);
$nero-grey-o-8: rgba(22, 22, 22, 0.8);
$nero-grey-o-95: rgba(22, 22, 22, 0.95);

$black-o-65: rgba(0,0,0,.65);
$black: #000000;

$theme-color: #8361d1;
$heliotrope: #ef3dff;
$theme-color-soft-glow: rgba(154, 130, 211, 0.712);
$dark-violet: #bc00c5;
$office-blue: #085793;
$pacific-blue: #0C8CCC;

$red:#EC6358;
$yellow: #E2c14D;
$green: #73C049;