@import 'custom/variables/colors';
@import 'custom/variables/shadow';
@import 'custom/shared/grid';
@import 'custom/shared/fonts';
@import 'custom/mixins/animations';
@import 'custom/mixins/color-mixins';
@import 'custom/shared/title';
@import 'custom/shared/window';
@import 'custom/general';
@import 'custom/header';
@import 'custom/intro';
@import 'custom/desktop';
@import 'custom/app';
@import 'custom/swiper';
@import 'custom/loading-screen';
@import 'custom/status-bar';
@import 'custom/spinner';
@import 'custom/link';


.paperscript {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100%;
}

.canvas,
.color {
    width: 700px;
}

.canvas {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.canvas--inactive {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    // filter: blur(100px) saturate(2);
}

.canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    // filter: blur(150px) saturate(2);
}