<div class="window">
    <div class="window__toolbar window__toolbar--browser">
        <div class="window__toolbar-text">
            <div class="window__toolbar-text-title">
                Emakina Portfolio 
            </div>
        </div>
        <div class="window__toolbar-buttons">
            <span class="window__toolbar-buttons-close"></span>
            <span class="window__toolbar-buttons-min"></span>
            <span class="window__toolbar-buttons-max"></span>
        </div>
    </div>
    <div class="window__toolbar window__toolbar--tabs">
        <div class="window__toolbar-text">First Tab</div>
        <div class="window__toolbar-text">Second Tab</div>
        <div class="window__toolbar-text">Third Tab</div>
    </div>
    <div class="window__content">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images//HocuKnjigu.jpg">
                    <div class="spinner">
                    </div>
                    <p class="window__toolbar--tabs-content">
                        Lorem ipsum 1 dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem rem, commodi
                        praesentium, aut iste officia illum ea deleniti impedit molestias eligendi vel totam excepturi?
                        Quidem debitis veritatis labore corporis!
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem rem, commodi
                        praesentium, aut iste officia illum ea deleniti impedit molestias eligendi vel totam excepturi?
                        Quidem debitis veritatis labore corporis!
                    </p>
                </div>
                <div class="swiper-slide" data-src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images//KonicaMinolta.jpg">
                    <div class="spinner">
                    </div>
                    <p class="window__toolbar--tabs-content">
                        Lorem ipsum 2 dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem rem, commodi
                        praesentium, aut iste officia illum ea deleniti impedit molestias eligendi vel totam excepturi?
                        Quidem debitis veritatis labore corporis!
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem rem, commodi
                        praesentium, aut iste officia illum ea deleniti impedit molestias eligendi vel totam excepturi?
                        Quidem debitis veritatis labore corporis!
                    </p>
                </div>
                <div class="swiper-slide" data-src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images//OMCA.jpg">
                    <div class="spinner">
                    </div>
                    <p class="window__toolbar--tabs-content">
                        Lorem ipsum 3 dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem rem, commodi
                        praesentium, aut iste officia illum ea deleniti impedit molestias eligendi vel totam excepturi?
                        Quidem debitis veritatis labore corporis!
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptatem rem, commodi
                        praesentium, aut iste officia illum ea deleniti impedit molestias eligendi vel totam excepturi?
                        Quidem debitis veritatis labore corporis!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>