<div class="window">
    <div class="window__toolbar">
        <div class="window__toolbar-text">Contact info</div>
        <div class="window__toolbar-buttons">
            <span class="window__toolbar-buttons-close"></span>
            <span class="window__toolbar-buttons-min"></span>
            <span class="window__toolbar-buttons-max"></span>
        </div>
    </div>
    <div class="window__content">
        <div class="window__content-contact-info">
            <div class="window__content-contact-info-image">
            </div>
            <div class="window__content-contact-info-text">
                <p>
                    Ivo Jurišić
                </p>
                <p>
                    Web Developer
                </p>
            </div>
        </div>
        <div class="window__content-contact-info window__content-contact-info--border">
            <div class="window__content-contact-info-title">
                Mail
            </div>
            <div class="window__content-contact-info-text">
                <p>
                    <span rel="noopener noreferer" target="_blank" class="link__text"
                        attr-href="mailto:mail@ivojurisic.com">mail@ivojurisic.com</span>
                </p>
            </div>
        </div>
        <div class="window__content-contact-info">
            <div class="window__content-contact-info-title">
                Phone
            </div>
            <div class="window__content-contact-info-text">
                <p>
                    <span rel="noopener noreferer" target="_blank" class="link__text"
                        attr-href="tel:+385953713344">+385953713344</span>
                </p>
            </div>
        </div>
        <div class="window__content-contact-info window__content-contact-info--border">
            <div class="window__content-contact-info-title">
                <img src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images/linkedin.svg">
            </div>
            <div class="window__content-contact-info-text">
                <p>
                    <span rel="noopener noreferer" target="_blank" class="link__text"
                        attr-href="https://www.linkedin.com/in/ivo-jurišić-26106a115/">LinkedIn</span>
                </p>
            </div>
        </div>
        <div class="window__content-contact-info">
            <div class="window__content-contact-info-title">
                <img src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images/instagram.svg">
            </div>
            <div class="window__content-contact-info-text">
                <p>
                    <span rel="noopener noreferer" target="_blank" class="link__text"
                        attr-href="https://www.instagram.com/ivo.hr/">Instagram</span>
                </p>
            </div>
        </div>
    </div>
</div>