<div class="window">
    <div class="window__toolbar">
        <div class="window__toolbar-text">Big thanks to these people: </div>
        <div class="window__toolbar-buttons">
            <span class="window__toolbar-buttons-close"></span>
            <span class="window__toolbar-buttons-min"></span>
            <span class="window__toolbar-buttons-max"></span>
        </div>
    </div>
    <div class="window__content">
        <div class="window__content-contact-info">
            <div class="window__content-contact-info-text">
                <p>
                    Big thank you to Sanjeev Yadav for giving me skeleton of stackable windows animation. <br>
                    When I got stuck, I looked at his code 
                    <span class="link__text" attr-href="https://medium.com/@sanjeevy133/card-stack-scroll-effect-486cc3b55312.">here</span> <br>
                    <br>
                    I modernized the code and rewrote it a bit to be dynamic. <br>
                    I will share my findings in a blog post later when I collect my thoughts. <br>
                    <br>
                    I was struggling for quite somme time on how to create circular loading progress, <br>
                    and than I stumbeld on <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://codepen.io/savant/pen/idbAh">this CodePen</span> by Sanne Van
                    Tongelen which helped me immensley.
                </p>
            </div>
        </div>
        <div class="window__content-contact-info window__content-contact-info--border">
            <div class="window__content-contact-info-text">
                <p>
                    Desktop icons and social icons are are taken from flaticon.<br>
                    <br>

                    Instagram, linkedin, domain icons are made by <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/authors/freepik"
                        title="Freepik">Freepik</span>
                    from <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</span>.
                    <br>
                    Mail icon is made by <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/authors/vectors-market"
                        title="Vectors Market">Vectors Market</span> from <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/"
                        title="Flaticon">www.flaticon.com</span>.
                    <br>
                    CV icon and credits icon is made by <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/authors/smashicons"
                        title="Smashicons">Smashicons</span> from <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/"
                        title="Flaticon">www.flaticon.com</span>.
                    <br>
                    Contact icon is made by <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/authors/prettycons"
                        title="prettycons">prettycons</span> from <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/"
                        title="Flaticon">www.flaticon.com</span>.
                    <br>
                    Old computer icon made by <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/authors/creaticca-creative-agency"
                        title="Creaticca Creative Agency">Creaticca Creative Agency</span> from 
                        <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</span>
                    <br>
                    Modern computer icon made by <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/authors/ultimatearm"
                        title="ultimatearm">ultimatearm</span> from <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/"
                        title="Flaticon">www.flaticon.com</span>
                    <br>
                    Phone book in Classic mode made by <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/authors/freepik"
                        title="Freepik">Freepik</span>
                    from <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</span>
                </p>
            </div>
        </div>
        <div class="window__content-contact-info window__content-contact-info--border">
            <div class="window__content-contact-info-text">
                <p>
                    This gorgeous background image is made available by the amazing Benjamin Voros on Unsplash.<br>
                    You can find more of his work <span rel="noopener noreferer" target="_blank" class="link__text" attr-href="https://unsplash.com/@vorosbenisop">here</>
                </p>
                <p class="hidden">

                    Moenta, Italy- Photo by Benjamin Voros on Unsplash
                    Zillertal Alps, Italy- Photo by eberhard grossgasteiger on Unsplash
                    Sunrise over mountains- Photo by Luke Richardson on Unsplash
                    Welcome to wonderland- Photo by Waranont (Joe) on Unsplash
                    Aconcagua, Argentina- Photo by Nicolas Prieto on Unsplash
                </p>
            </div>
        </div>
    </div>
</div>