<div class="window">
    <div class="window__toolbar">
        <div class="window__toolbar-text">Contact info</div>
        <div class="window__toolbar-buttons">
            <span class="window__toolbar-buttons-close"></span>
            <span class="window__toolbar-buttons-min"></span>
            <span class="window__toolbar-buttons-max"></span>
        </div>
    </div>
    <div class="window__content">
        <div class="window__content-contact-info">
            <div class="window__content-contact-info-image">
            </div>
            <div class="window__content-contact-info-text">
                <p>
                    Peter Parker
                </p>
                <p>
                    Journalist
                </p>
            </div>
        </div>
        <div class="window__content-contact-info window__content-contact-info--border">
            In 1962, with the success of the Fantastic Four, Marvel Comics editor and head writer Stan Lee was casting
            about for a new superhero idea. He said the idea for Spider-Man arose from a surge in teenage demand for
            comic books, and the desire to create a character with whom teens could identify.[16]:1 In his
            autobiography, Lee cites the non-superhuman pulp magazine crime fighter the Spider as a great
            influence,[15]:130 and in a multitude of print and video interviews, Lee stated he was further inspired by
            seeing a spider climb up a wall—adding in his autobiography that he has told that story so often he has
            become unsure of whether or not this is true.[note 1] Although at the time teenage superheroes were usually
            given names ending with "boy", Lee says he chose "Spider-Man" because he wanted the character to age as the
            series progressed, and moreover felt the name "Spider-Boy" would have made the character sound inferior to
            other superheroes.[17] He also decided to insert a hyphen in the name, as he felt it looked too similar to
            Superman, another superhero with a red and blue costume which starts with an "S" and ends with "man".[18] At
            that time Lee had to get only the consent of Marvel publisher Martin Goodman for the character's approval.
            In a 1986 interview, Lee described in detail his arguments to overcome Goodman's objections.[note 2] Goodman
            eventually agreed to a Spider-Man tryout in what Lee in numerous interviews recalled as what would be the
            final issue of the science-fiction and supernatural anthology series Amazing Adult Fantasy, which was
            renamed Amazing Fantasy for that single issue, #15 (cover-dated August 1962, on sale June 5, 1962).[19] In
            particular, Lee stated that the fact that it had already been decided that Amazing Fantasy would be canceled
            after issue #15 was the only reason Goodman allowed him to use Spider-Man.[17] While this was indeed the
            final issue, its editorial page anticipated the comic continuing and that "The Spiderman [sic] ... will
            appear every month in Amazing."[19][20]
        </div>
    </div>
</div>
</div>