<div class="window">
    <div class="window__toolbar">
        <div class="window__toolbar-text">CV</div>
        <div class="window__toolbar-buttons">
            <span class="window__toolbar-buttons-close"></span>
            <span class="window__toolbar-buttons-min"></span>
            <span class="window__toolbar-buttons-max"></span>
        </div>
    </div>
    <div class="window__content">
        <div class="window__content-cv-info">
            <div class="window__content-cv-info-image">
            </div>
            <div class="window__content-cv-info-text">
                <p>
                    Ivo Jurišić
                </p>
                <p>
                    Web Developer
                </p>
                    <span attr-href="https://www.emakina.hr/en/" class="link__text">Emakina.hr</span>
                </p>
            </div>
        </div>
        <div class="window__content-cv-info window__content-cv-info--border">
            Hi!
            <br /><br />
            I am Ivo Jurišić and I am a frontend developer from Zagreb curently working for Emakina.
            <br /><br />
            I am a curious person by nature and a nerd by definition, which is something you will probably notice when
            you scroll through my CV. I am also really bad at writing about myself, which is something you will notice
            in the next paragraph or so.
            <br /><br />
            Even though I am a developer and by nature I am an introvert, I do have some people skills (not a lot, but I do have some).
            I attained those skills by somehow ending up in industries which required me to deal directly with people. <br />
            As two standouts, I would mention working as a salesman and later as a leader of sales team, and as a Restaurant specialist in Oldenburg, Germany. <br />
            On the note of Germany I currently hold A2 certificate from Croatian Chamber of Trades And Crafts.
            <br /><br />
            I also voulunteered a lot on conventions like SFeraKon, Istrakon and many others. On topic of
            SFeraKon, in 2018 I was invited to be one of the organizers in the role of a leader of volunteers. That was
            quite interesting experience and I learned a lot about thinking on your feet, time management and setting priorities. <br />
            That experience was one of the most fulfilling experiences of my life and if you ever see me there, say hi. 
            <br /><br />
            That's the short version. If you want long version click on contact and connect wth me through one of the options there. Have a nice day. :)
        </div>
    </div>
</div>
</div>