<div class="window">
    <!-- <div class="window__toolbar"> -->
        <!-- <div class="window__toolbar-text">~bash: Intro</div> -->
        <!-- <div class="window__toolbar-buttons">
            <span class="window__toolbar-buttons-close"></span>
            <span class="window__toolbar-buttons-min"></span>
            <span class="window__toolbar-buttons-max"></span>
        </div> -->
    <!-- </div> -->
    <div class="window__content">
        <div class="container">
            <h1 class="title title--typing-animation">
                <span>
                    <p class="js-typing-animation 24">Hey! Welcome to my site.</p>
                </span>
                <span>
                    <p class="js-typing-animation 39">My name is Peter and I am a journalist.</p>
                    <!-- <p class="js-typing-animation 40">My name is Joe and I am a web developer.</p> -->
                </span>
                <span>
                    <p class="js-typing-animation 29">Press any button to continue.</p>
                </span>
            </h1>

            <div class="header__btn">
                [any button]
            </div>
        </div>
    </div>
</div>