<div class="window">
    <div class="window__toolbar">
        <div class="window__toolbar-text">~bash: Short summary</div>
        <div class="window__toolbar-buttons">
            <span class="window__toolbar-buttons-close"></span>
            <span class="window__toolbar-buttons-min"></span>
            <span class="window__toolbar-buttons-max"></span>
        </div>
    </div>
    <div class="window__content">
        <p>
            Hi again. :)
        </p>
        <p>
            I am Peter Parker and I work as photo journalist for Daily Bugle.
        </p>
        <p>
            Peter Benjamin Parker was born in Queens to Richard and Mary Parker. While Peter was still an infant,
            his parents were assigned by the CIA to infiltrate the Algerian based spy ring controlled by the communist
            agent, the Red Skull. The moment the Red Skull learned that Richard and Mary were double agents, he had them
            killed by one of his agents, the Finisher, in an airplane crash overseas and then framed them for
            treason. Before their deaths however, Richard and Mary had another child unknown to all others including
            Peter himself, a daughter and Peter's younger sister, Teresa.
        </p>
    </div>
</div>