<div class="desktop__files">
    <a class="desktop__files-icon desktop__files-icon--cv">
        <div class="desktop__files-icon-image">
            <img src="../../images/curriculums.svg" />
        </div>
        <div class="desktop__files-icon-text">
            <p>CV</p>
        </div>
    </a>
    <a class="desktop__files-icon desktop__files-icon--contact">
        <div class="desktop__files-icon-image">
            <img src="../../images/phonebook.svg" />
        </div>
        <div class="desktop__files-icon-text">
            <p>Contact</p>
        </div>
    </a>
    <a class="desktop__files-icon desktop__files-icon--portfolio">
        <div class="desktop__files-icon-image">
            <img src="../../images/domain.svg" />
        </div>
        <div class="desktop__files-icon-text">
            <p>Portfolio</p>
        </div>
    </a>
    <a class="desktop__files-icon desktop__files-icon--credits">
        <div class="desktop__files-icon-image">
            <img src="../../images/document.svg" />
        </div>
        <div class="desktop__files-icon-text">
            <p>Credits</p>
        </div>
    </a>
</div>