<div class="status-bar__info">
    <img src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images//raven-logo.png">
    <span>
        RavenOS <span class="hidden-mobile">| Designed by Ivo Jurišić</span>
    </span>
</div>
<div class="status-bar__system">
    <div class="status-bar__system-tools">
        <div class="status-bar__system-tools-env">
             <span class="hidden-mobile">Change OS by clicking on these icons:</span>
        </div>
        <div class="status-bar__system-tools-env js-classic">
            <img src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images//old-computer.svg" title="UI of the 80's computer">
        </div>
        <div class="status-bar__system-tools-env js-modern">
            <img src="https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images//new-computer.svg" title="UI of modern computer">
        </div>
    </div>
    <div id="calendar" class="status-bar__system-calendar">

    </div>
</div>