.app {
    $animation-duration: 0.75s;
    width: calc(100vw - 150px);
    height: 100%;
    margin: auto;
    opacity: 1;
    transform-origin: top left;
    transform: translate(0, 0) scale(1) !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;


    @media (max-width: $mobile) {
        align-items: flex-start;
        top: 45px;
        max-height: calc(100vh - 200px);
        z-index: 100;
        width: calc(100vw - 20px);
    }

    &>.window-wrapper {
        transform: translateY(0) scale(1) !important;
        transform-origin: top left;
        width: 100%;

        transition:
            opacity $animation-duration ease-in-out 0.15s,
            transform $animation-duration ease-in-out 0.25s;

        @media (max-width: $mobile) {
            padding-top: 0px;
            height: 100%;
            max-height: 100%;
        }
    }

    & .window-wrapper .window {
        @media (max-width: $mobile) {
            max-height: 100%;
            overflow-y: scroll;
        }
    }

    &--animate-collapse {
        pointer-events: none;
    }

    &--animate-collapse.app--contact>.window-wrapper,
    &--animate-collapse.app--credits>.window-wrapper,
    &--animate-collapse.app--cv>.window-wrapper,
    &--animate-collapse.app--portfolio>.window-wrapper {
        transform: translateY(-50px) scale(0.02) !important;
        opacity: 0;

        @media (max-width: $mobile) {
            transform: translateY(-10px) scale(0.02) !important;
        }
    }

    &--animate-collapse.app--contact>.window-wrapper {
        transform: translateY(80px) scale(0.02) !important;

        @media (max-width: $mobile) {
            transform: translateY(140px) scale(0.02) !important;
        }
    }

    &--animate-collapse.app--portfolio>.window-wrapper {
        transform: translateY(240px) scale(0.02) !important;

        @media (max-width: $mobile) {
            transform: translateY(280px) scale(0.02) !important;
        }
    }

    &--animate-collapse.app--credits>.window-wrapper {
        transform: translateY(340px) scale(0.02) !important;
        @media (max-width: $mobile) {
            transform: translateY(400px) scale(0.02) !important;
        }
    }


    // &--cv,
    // &--contact,
    // &--portfolio,
    // &--credits {


    // }

    &--portfolio {
        z-index: 100;

        .window__content {
            height: calc(100% - 80px);
            padding: 0;
            position: relative;
            z-index: -1;
        }

        img {
            position: absolute;
            width: 100%;
            top: 0;
            border: 0;
            z-index: -1;
        }

        &>.window-wrapper {
            width: calc(100vw - 100px);
            height: calc(100vh - 100px);

            @media (max-width: $mobile) {
                width: calc(100vw - 10px);
                height: calc(100vh - 150px);
            }
        }

        & .window {
            max-width: unset;
            height: 100%;
            width: 100%;
        }
    }
}