html,
body {
    height: 100%;
    width: 100%;
    background-color: $black;

    @media (max-width: $mobile) {

        div,
        span,
        p {
            font-size: 18px;
        }
    }

    .classic-UI {

        div,
        span,
        p {
            font-family: 'VT323', monospace;
        }
    }
}

body {
    overflow: hidden;
}

.hidden {
    display: none;
}

.hidden-mobile {
    @media (max-width: $mobile) {
        display: none;
    }
}

.iframe-controls-container {
    display: none !important;
    position: absolute !important;
    z-index: -10 !important;
    visibility: hidden !important;
}

main {

    &:before {
        @media (max-width: $mobile) {
            height: 100vh;
        }

        content: '';
        position: fixed;
        // top: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $black;
        background-image: url("https://res.cloudinary.com/dmqwm8tlw/image/upload/PortfolioSite/images/benjamin-voros-unsplash.jpg");
        // background-attachment: fixed;
        background-position: center;
        background-size: cover;

        .classic-UI & {
            background-color: $dim-grey;
            background-size: 5px 5px;
            background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
            background-repeat: repeat;
        }
    }
}

// .prevent-scrolling {
//     overflow: hidden;
// }

// main .desktop,
// main .app,
// main .status-bar,
// main:before {
// // main {
//     filter: blur(20px);
//     transition: all 0.75s ease-in-out 1s;

//     .loaded & {
//         filter: blur(0);
//         transition: all 0.75s ease-in-out 1s;
//     }
// }

.swiper-slide img {
    opacity: 0;
    filter: blur(20px);
    transition: opacity 0.75s, filter 1.25s;
    transform: translate3d(0, 0, 0);
}

.swiper-slide[loaded-element='true'] img {
    opacity: 1;
    filter: blur(0px);
    transition: opacity 0.75s, filter 1.25s;

}

.swiper-slide--visible-description[loaded-element='true'] img {
    filter: blur(20px);
    transition: filter 0.5s ease-in-out;
}